<section class="row flexbox-container">
    <div class="col-xl-8 col-11 d-flex justify-content-center">
        <div class="card bg-authentication rounded-0 mb-0">



            <div class="card-content">
                <div class="card-body pt-1">

                    <% if flash[:error] %>
                    <div>
                        <ul>
                            <%= flash[:error] %>
                        </ul>
                    </div>
                    <% end %>
                    <div>
                        <div>
                            <h3>Please scan this QR-code with<br> your app if it's the <strong>first time</strong></h3>
                            <img src="<%= @current_admin_user.google_qr_uri %>">
                        </div>
                        <div>
                            <%= form_tag admin_user_mfa_session_index_path, method: :post do %>
                            <p>Please fill in you authentication code here:</p>
                            <%= text_field :auth, :mfa_code, autofocus: true %>
                            <%= submit_tag 'authenticate' %>
                            <% end %>
                        </div>
                    </div>

                </div>
            </div>
            <div class="login-footer">
                <div class="divider">
                    <div class="divider-text"></div>
                </div>

                <p></p>
                <div class="footer-btn d-inline">

                </div>
            </div>
        </div>
    </div>
</section>